<!doctype>
<html>
    <header>
        <link rel="stylesheet" href="/static/main.css"></link>
    </header>
    <header>
        Hop Siup! - Krzysztof Kalata
    </header>
        <body>
            <div class="navigationBar">
                <a class="active" href="/">Home</a>
                <a href="/sender/login">Login</a>
                <a href="/sender/register">Register</a>
            </div>
            <h1>Witamy w Hop Siup!</h1>
            <h4>U nas jak najszybciej nadasz swoją paczuszkę która też dojdzie jak najszybciej!<br>
            Zapraszamy do rejestracji! Możesz tam trafić wybierając zakładkę widoczną na tym pięknym pasku nawigacyjnym!</h4>
            <footer>
                <ul>
                    <li>2020</li>
                    <li>https://github.com/KrzysztofKalata/pamiw</li>
                </ul>
            </footer>
        </body>
</html>